*{
    margin:0;
    padding: 0;
}
@font-face{
    font-family: "Sansation";
    src: url(Sansation-Regular.ttf)
}
@font-face{
    font-family: "Sansation_1";
    src: url(Sansation_Light.ttf)
}
body{
    background-color: #B3A272;
}   
.up{
    width: 100%;
    height: 112px;
    background-color: #9D7B60;
}
.logo{
    width:10%;
    height:10%;
    transform: translate(40%, 50%);
}
.menu{
    display: flex;   
    justify-content: center;
    font-size: 55px;
}
.menu li{
    margin-right: 25px;
    list-style-type: none;
    display: inline;
}
  
.menu li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
}
.link {
    position: relative;
  }
  .link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #ffffff;
    width: 0;
    transition: 0.3s;
    left: 50%;
    transform: translateX(-50%);
}
.link:hover:after {
    width: 100%;
}
.aut{
    width: 18%;
    height: 100%;
    transform: translate(432%, -66%);
    display: flex;

}
.osnova{
    background-color:#644005;
    border-radius: 20px;
    height: 900px;
    width: 70%;
    transform: translate(21%, -7%);
}
.cor_up{
    width: 50%;
    height: 55%;
    transform: translate(0%, 32%);
}
.cor_up img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.LK{
    width: 50%;
    height: 55%;
    transform: translate(0%, 32%);
}
.LK img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #5bad4b;
    color: rgb(255, 255, 255);
    border: 2px solid #59d05d;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 24px;
    border-radius: 10px;
    transform: translate(0%, 60%);


}
button:hover {
    background-color: #5bd25f; /* Зеленый */
    color: white;
}
button:active{
    background-color: #4cea52; /* Зеленый */
    color: white;
}
.osnova{
    background-color:#644005;
    border-radius: 20px;
    height: 1041px;
    width: 90%;
    transform: translate(5.5%, 0%);
}
.text_1{
    font-family:"Sansation";
    color: #ffffff;
    font-size: 32px;
    transform: translate(7.5%);
    line-height: 1.5;
    letter-spacing: 1px;
    width: 85%;
}
.text_2{
    font-family:"Sansation";
    color: #ffffff;
    font-size: 24px;
    transform: translate(10.5%);
    line-height: 1.5;
    letter-spacing: 1px;
    width: 85%;
}
.map{
    transform: translate(10.5%);
    width: 85%;
}
a{
    text-decoration: none;
    color: #ffffff;
}
a:hover{
    color: #9fff7f;
}
a:active{
    color: #3e9241;
}
.spis{
    transform: translate(11.5%);
    width: 85%;  
}
.soc{
    color: #ffffff;
    list-style-type: none;
    font-size: 21px;
    line-height: 1.5;
    letter-spacing: 1px;
}
.footer{
    background-color: #9D7B60;
    width: 100%;
    height: 250px;
    transform: translate(0%, 7%);
}
.text_fo{
    font-family: "Sansation";
    font-size: 16px;
    color: #ffffff;
    width: 45%;
    transform: translate(7.5%);
    line-height: 1.5;
    letter-spacing: 1px;
    transform: translate(4%, 10%);
}